html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background: url(images/homescreen.png) no-repeat;
	background-size: contain;
}

.swiper-container{
	width: 375px;
	max-width: 100%;
	margin: auto;
	height: 100%;
	max-height: 100%;
	
	position: relative;
}

.swiper-wrapper{
	
	transition: all 0.2s;
	position: relative;
}

.swiper-slide{
	height: 100%;
	position: relative;
}

.img-wrap{
	height: 72%;
	bottom: 0;
	position: absolute;
	background: black;
	opacity: 1;
}

.swiper-slide img{
    max-width: 100%;
    margin-top: -52%;
}

.active_area{
	height: 100px;
	width: 100%;
	content: " ";
	position: absolute;
	bottom: 0;
	z-index: 1000;
}

img.hide{
	visibility: hidden;
}

.area{
	width: 33%;
	margin: 0;
	height: 100px;
	display: block;
	float: left;
}

.slidedown{
	height: 28%;
	top: 0;
	position: absolute;
	width: 100%;
	z-index: 1000;
}